body > *:last-child {
    font-variant: normal;
}

body {
    --secondary-color-alt3: #f1de15;
    --secondary-color-alt5: transparent;
    color: #f1de15;
    /* --primary-color:#ffea00; */
    /* --primary-color:#161032; */
}
 /* login page btn */
        #btn-email-login,
        #btn-mobile-login {
            color: #161032 !important;
        }